<a class="btn btn-primary nokaut-wl-offer-button" role="button" {{ offerUrl|offerAnchorAttributes|raw }}>
    Zobacz w sklepie
    {#<span class="badge"><span class="glyphicon glyphicon-arrow-right"></span></span>#}
</a>