<a class="btn btn-primary" role="button" class="nokaut-wl-product-button" {{ productUrl|productAnchorAttributes|raw }}>
    Porównaj ceny
    {#<span class="badge"><span class="glyphicon glyphicon-arrow-right"></span></span>#}
</a>